---
layout: default
---

<div id="site">
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166957890-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-166957890-1');
</script>
  {% include switch.html %}  
  <!--{% include menu.html %}-->
  {% include intro.html %}
  {% include background.html %}
  {% include skills.html %}
  {% include experience.html %}
  {% include featured-projects.html %}
  {% include other-projects.html %}
  {% include kindwords.html %}
  {% include footer.html %}
  {% include top-button.html %}
</div>
