---
layout: default
---

<div id="site">
  {% include switch.html %}
  <!--{% include menu.html %}-->
  <a href="https://harper-he.github.io/#intro">{% include intro.html %}</a>
  {% include background.html %}
  {% include skills.html %}
  {% include experience.html %}
  {% include featured-projects.html %}
  <a href="https://harper-he.github.io/#other-projects">{% include other-projects.html %}</a>
  {% include kindwords.html %}
  {% include footer.html %}
  {% include top-button.html %}
</div>
