<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Marketing Analyst at 
      <a class="underline-link" href="https://iteratelabs.co/" target="_blank">Iterate Labs</a> leading analytics efforts to spearhead company communications initiatives. I recently graduated from
      <a class="underline-link" href="https://www.syracuse.edu/" target="_blank">Syracuse University</a> with a M.S. in Business Analytics.
    </p>

    <p>
      Some of the technologies that I love working on are Python, Hadoop, Spark, SQL, R, Tableau, and PowerBI.
      I always have the zest to keep learning everything that’s data! I like to understand and explore numbers and translate the data to provide valuable stories.
      More recently, I redesigned and optimized an official site for <a class="underline-link" href="https://iteratelabs.co/" target="_blank">Iterate Labs</a>.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably snowboarding, cruising around on my penny board,
      or crossing off another item on my bucket list.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
