<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Marketing Analyst at 
      <a class="underline-link" href="https://iteratelabs.co/" target="_blank">Iterate Labs</a> 
      leading analytics efforts to spearhead company communications initiatives. I recently graduated from
      <a class="underline-link" href="https://www.syracuse.edu/" target="_blank">Syracuse University</a> with a 
      <a class="underline-link" href="https://whitman.syr.edu/programs-and-academics/programs/ms/Business-Analytics/curriculum.aspx" target="_blank">M.S. in Business Analytics</a>.
      Before that, I received a BA in New Media at the 
      <a class="underline-link" href="http://en.cuc.edu.cn/2135/list.htm" target="_blank">Communication University of China</a>.
    </p>

    <p>
      Some of the technologies that I love working on are Python, Hadoop, Spark, SQL, R, Tableau, and PowerBI.
      I like to understand and explore numbers and translate the data to provide valuable stories.
      Feel free to check some projects that I have worked on and those that you may find useful:
      <a class="underline-link" href="https://github.com/harper-he/Python/tree/master/Big%20Data%20Analytics/HW4" target="_blank">Text classification using TF-IDF vectorizer and Regularized Logistic Regression</a>
      <a class="underline-link" href="https://github.com/harper-he/Python/tree/master/Big%20Data%20Analytics/HW5" target="_blank">Data science programs K-means Clustering via Principal Component Analysis</a>
      <a class="underline-link" href="https://github.com/harper-he/Python/tree/master/Big%20Data%20Analytics/HW6" target="_blank">Wine Quality Exploration Analysis and Classification using PySpark and MLlib</a> 
    </p>

    <p>
      I am looking to mobilize the skills that I have gained in digital marketing, 
      data mining and creative problem solving in my current position at Iterate Labs, 
      an AI-powered IOT platform, in a new role that allows me to thrive as a marketing analyst.
      More recently, I redesigned and optimized
      <a class="underline-link" href="https://iteratelabs.co/" target="_blank">an official site for Iterate Labs</a> 
      using WordPress with Google Analytics and Tag Manager implemented.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
