<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Marketing Analyst at 
      <a class="underline-link" href="https://iteratelabs.co/" target="_blank">Iterate Labs</a> leading analytics efforts to spearhead company communications initiatives. I recently graduated from
      <a class="underline-link" href="https://www.syracuse.edu/" target="_blank">Syracuse University</a> with a M.S. in Business Analytics.
    </p>

    <p>
      Some of the technologies that I love working on are Python, Hadoop, Spark, SQL, R, Tableau, and PowerBI.
      I always have the zest to keep learning everything that’s data! I like to understand and explore numbers and translate the data to provide valuable stories.
      projects that I have worked on and those that you may find useful.
      More recently, I redesigned and optimized an official site for <a class="underline-link" href="https://iteratelabs.co/" target="_blank">Iterate Labs</a>.
    </p>

    <p>
      I am looking to mobilize the skills that I have gained in customer service, time management, and creative problem solving in my current position performing client intake at one of London’s busiest homeless shelters, the Salvation Army, in a new role that allows me to thrive as a digital marketing specialist. My resume page will give you more information about my work history and my credentials.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
