<header class="intro">
  <h1 class="intro__hello">Welcome!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Harper He</span>, a Data Enthusiast &amp Marketing Professional with an eye for detail and proven problem-solving and analytic skills 
    <span class="emoji technologist"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:harperhe07@gmail.com" target="_blank" class="highlight-link">harperhe07@gmail.com</a>
    </span>
  </h3>
</header>
t
