<section class="section kindwords">
  <div class="section__title">Kind Words</div>
  <div class="section__content">
	<div class="Jason Guss kindwords">
    		<div class="testimonial__quote">
			<p>“I want to thank Harper for the amazing efforts and contributions she had made to our team. 
				She was 100% correct when she said she would have a big impact to our team. "</p>
		<div class="testimonial__endorser">
			<p>-- <a href="https://www.linkedin.com/in/jason-guss-592b3534/" target="_blank">Dr. Jason Guss</a>, 
				CEO of Iterate Labs</p>
         </div><!--testimonial__endorser-->
        </div><!--testimonial__quote-->
      </div><!--Jason Guss kindwords-->
	
	 <div class="Don Harter kindwords">
    		<div class="testimonial__quote">
			<p>“Harper's internship report is the most complete report for an internship that I have ever received. Excellent work. "</p>
		<div class="testimonial__endorser">
			<p>-- <a href="https://whitman.syr.edu/directory/showInfo.aspx?nid=dharter" target="_blank">Professor Don Harter</a>, Director of Business Analytics Program at Martin J. Whitman School of Management, Syracuse University</p>
         </div><!--testimonial__endorser-->
        </div><!--testimonial__quote-->
      </div><!--Don Harter kindwords-->	   
	  
    </div><!--section__content-->
</section>
